<?xml version="1.0"?>

<launch>

    <arg name="width" default="20.0"/>
    <arg name="resolution" default="0.1"/>
    <arg name="occupancy_threshold" default="0.2"/>

    <node pkg="dynamic_cloud_detector" type="dynamic_cloud_detector" name="dynamic_cloud_detector">
        <param name="WIDTH" value="$(arg width)"/>
        <param name="RESOLUTION" value="$(arg resolution)"/>
        <param name="OCCUPANCY_THRESHOLD" value="$(arg occupancy_threshold)"/>
    </node>

</launch>
